<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
         http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Conan</display-name>
    <description>
        Web application for submitting jobs to Conan
    </description>

    <!--Define configuration to load-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            conan-dao.xml
            WEB-INF/conan-service.xml
        </param-value>
    </context-param>

    <!--Define Servlets -->
    <servlet>
        <servlet-name>conan</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--Define servlet mappings -->
    <servlet-mapping>
        <servlet-name>conan</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- define url rewrite filters -->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- listener to load context at startup -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!-- database resources from JNDI -->
    <resource-ref>
        <description>Conan datasource connection</description>
        <res-ref-name>jdbc/CONAN</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <resource-ref>
        <description>AE1 datasource connection</description>
        <res-ref-name>jdbc/AE1</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <resource-ref>
        <description>AE2 datasource connection</description>
        <res-ref-name>jdbc/AE2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <resource-ref>
        <description>Mail session</description>
        <res-ref-name>mail/SESSION</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>