/*Conan 2 CSS Rules
*
* These rules mostly extend and tailor certain aspects of custom jQuery UI CSS to fit the look and feel for Conan.  You
* should be able to replace the default jQuery UI CSS with your own personalised theme (roll your own at
* http://jqueryui.com/themeroller/), and this should be incorporated seamlessly into Conan, provided you don't edit the
* settings in this file.
*
* This CSS file also declares required classes for the jCarousel and datatables jQuery plugins
*/

.clickable {
    cursor: pointer;
}

table p {
    margin-top: 0
}

.conan-submissions-submitarea-panel {
    width: 100%;
    height: 190px;
    position: absolute;
}

.conan-submission-element-container {
    margin-left: 2px;
    margin-right: 2px;
}

.conan-parameters-hidden-tab {
    width: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    visibility: hidden;
}

.conan-parameters-tab-content {
    width: 450px;
    height: 55px;
}

.conan-submission-parameters-container {
    display: inline;
    padding-top: 21px;
    margin-left: 2px;
    margin-right: 2px;
}

.conan-submission-parameters-multiline-container {
    display: inline;
    padding-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.conan-submission-parameters-container ul, .conan-submission-parameters-multiline-container ul {
    overflow: hidden;
    position: relative;
    top: -1px;
    margin: 0;
    padding: 0;
}

.conan-submission-parameters-container li, .conan-submission-parameters-multiline-container li {
    list-style: none;
}

.conan-parameters {
    width: 380px;
    display: inline;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.conan-parameters input {
    width: 250px;
}

.conan-parameters textarea {
    width: 230px;
    height: 19px;
    position: relative;
    top: -1px;
    padding-right: 20px;
}

.conan-expand-collapse {
    vertical-align: top;
    display: inline-block !important;
    position: relative;
    right: 20px;
    margin-right: 0;
    cursor: pointer;
}

.conan-parameters label {
    max-width: 115px;
    margin-right: 5px;
    vertical-align: top;
}

.conan-parameters-content {
    display: inline-block;
    width: 380px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.conan-leftaligned-panel {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

.conan-rightaligned-panel {
    float: right;
    width: 50%;
    margin-bottom: 15px;
}

.conan-details {
    padding: 10px 10px 0 10px;
}

.conan-table-wrapper {
    height: 295px;
}

/* conan-details table styling and ordering elements */
table.conan-details-table {
    border-spacing: 0;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.conan-details-table tbody tr td {
    padding: 4px;
    vertical-align: top;
}

.conan-summary-header {
    width: 200px;
    font-weight: bold;
    display: inline-block;
}

/* conan-details table background color for row striping */
/* NOTE: this is the only place that Conan explicitly declares a color, everywhere else jQuery UI themes are used */
table.conan-details-table tbody tr.even {
    background-color: #EEF5F5;
}

/* tailoring jQuery default elements for specific Conan layout */
.ui-widget input, .ui-widget-content input, .ui-widget textarea, .ui-widget-content textarea {
    border-style: inset;
}

.ui-button .ui-button-text {
    font-weight: bold;
}

th.ui-button {
    font-weight: bold;
    display: table-cell;
    padding: 4px;
    text-align: left;
}

th.ui-button-text-only .ui-button-text {
    padding: 0;
}

th.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    font-weight: bold;
}

th.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    font-weight: bold;
}

th.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
    font-weight: bold;
}

th.ui-button-text-icons .ui-button-text {
    font-weight: bold;
}

/* tailoring datatables jQuery plugin to extend jQuery UI CSS */
.sorting .conan-sort-icon {
    background-position: -128px -16px;
}

.sorting_asc .conan-sort-icon {
    background-position: 0 -16px;
}

.sorting_desc .conan-sort-icon {
    background-position: -64px -16px;
}

.dataTables_filter {
    text-align: right;
    margin-bottom: 5px;
}

.dataTables_filter input {
    background-color: #FFFFFF;
    padding-right: 20px;
    position: relative;
}

.dataTables_filter span {
    display: inline-block;
    position: relative;
    right: 18px;
    margin-right: -15px;
    top: 3px;
}

.dataTables_info {
    float: left;
}

.paging_full_numbers {
    float: right;
}

.paging_full_numbers span.paginate_button {
    text-decoration: underline;
    margin: 0 3px;
    padding: 2px 5px;
}

.paging_full_numbers span.paginate_active {
    font-weight: bold;
    margin: 0 3px;
    padding: 2px 5px;
}

.paginate_button {
    cursor: pointer;
}

.paginate_disabled_previous {
    cursor: default;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
}

.paginate_disabled_next {
    cursor: default;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
}

/* Required CSS elements for jcarousel */
.jcarousel-container-vertical {
    width: 400px;
    height: 60px;
}

.jcarousel-clip-vertical {
    top: 15px;
    width: 378px;
    height: 30px;
    z-index: 20;
}

.jcarousel-item-vertical, .jcarousel-item-placeholder-vertical {
    width: 370px;
    height: auto;
    margin: 5px 0;
}

.jcarousel-next-vertical {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 378px;
    height: 14px;
    cursor: pointer;
}

.jcarousel-next-disabled-vertical {
    cursor: default;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
}

.jcarousel-prev-vertical {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 378px;
    height: 14px;
    cursor: pointer;
}

.jcarousel-prev-disabled-vertical {
    cursor: default;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity = 50);
}

.loading {
}

/* For curator, perftest instances */
.ae2_perftest {
    background: #ffffdb url(../images/ae2_peftest.gif) no-repeat 99% 30px !important;
}

.ae2_perftest h2, .ae2_perftest h3, .ae2_perftest h4 {
    background: #ffffdb !important;
}

.ae2_curator {
    background: #ffe6f5 url(../images/ae2_curator.gif) no-repeat 99% 30px !important;
}

.ae2_curator h2, .ae2_curator h3, .ae2_curator h4 {
    background: #ffe6f5 !important;
}


